@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, select,
input[type=email], input[type=tel], input[type=number], input[type=password], input[type=text], input[type=date], textarea,
figure, figcaption, picture {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ul, ol, li {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  line-height: 1;
}

button,
button:active,
button:focus {
  outline: none;
}

textarea {
  vertical-align: top;
  resize: none;
  overflow: auto;
}

header, footer, section, nav, aside {
  display: block;
}

:focus {
  outline: 0;
  outline: none;
}

input[type=submit] {
  cursor: pointer;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

address {
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body > img {
  display: none;
}

/*----Size const------*/
:root {
  font-size: 16px;
  height: 100%;
}

.h2 {
  font-size: 1.5rem;
  line-height: 1.5em;
  margin-bottom: 1.5em;
  font-weight: 500;
}

.h3 {
  font-size: 1.375rem;
  line-height: 1.5em;
  font-weight: 600;
  margin-bottom: 1.5em;
  letter-spacing: -0.01em;
}

body {
  font-size: 1rem;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  min-width: 320px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #FAFBFF;
}
body:before {
  content: "";
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: white;
}

[class*=__container], .container {
  max-width: 90rem;
  margin: 0 auto;
  padding-left: 0;
}

.container {
  position: relative;
  background-color: #FAFBFF;
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.left-side {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 19.125rem;
  flex: 0 0 19.125rem;
  background-color: white;
  padding: 2.25rem 1.75rem 4.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.close {
  display: none;
}

.logo-n-nav {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.logo {
  margin-bottom: 2.8125rem;
}
.logo a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #838383;
  text-decoration: none;
}
.logo img {
  width: 12.1875rem;
  display: block;
}
.logo span {
  font-size: 0.625rem;
  line-height: 1.5em;
  font-weight: 500;
  margin-left: 0.4em;
  margin-bottom: 0.6em;
}

.navigation {
  margin-bottom: 2.25rem;
}
.navigation__menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation__item:not(:last-child) {
  margin-bottom: 1.125rem;
}
.navigation__item--active.navigation__item .navigation__link {
  background-color: #5932EA;
  color: white;
}
.navigation__item--active.navigation__item .navigation__link .navigation__icon .stroke, .navigation__item--active.navigation__item .navigation__link .navigation__arrow .stroke {
  stroke: white;
}
.navigation__item--active.navigation__item .navigation__link .navigation__icon .fill, .navigation__item--active.navigation__item .navigation__link .navigation__arrow .fill {
  fill: white;
}
.navigation__link {
  display: block;
  padding: 0.8125rem 1.5rem 0.75rem 3.0625rem;
  color: #9197B3;
  text-decoration: none;
  position: relative;
  font-size: 0.875rem;
  line-height: 1.5em;
  font-weight: 500;
  border-radius: 0.5rem;
}
.navigation__link:hover {
  background-color: #F5F5F5;
  color: black;
}
.navigation__link:hover .navigation__icon .stroke, .navigation__link:hover .navigation__arrow .stroke {
  stroke: black;
}
.navigation__link:hover .navigation__icon .fill, .navigation__link:hover .navigation__arrow .fill {
  fill: black;
}
.navigation__icon {
  position: absolute;
  left: 0.6875rem;
  top: 0.6875rem;
  width: 1.5rem;
  height: 1.5rem;
}
.navigation__icon svg {
  display: block;
  width: 100%;
}
.navigation__icon .fill {
  fill: #9197B3;
}
.navigation__icon .stroke {
  stroke: #9197B3;
}
.navigation__arrow {
  position: absolute;
  right: 0.5rem;
  top: 0.9375rem;
  width: 1rem;
  height: 1rem;
}
.navigation__arrow svg {
  display: block;
  width: 100%;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.user__avatar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 2.625rem;
  flex: 0 0 2.625rem;
  height: 2.625rem;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin-right: 0.75rem;
}
.user__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.user__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.user__name {
  color: black;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5em;
}
.user__post {
  color: #757575;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.5em;
}

.burger {
  display: none;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-left: 4.4375rem;
  padding-top: 2.5625rem;
  padding-right: 5.9375rem;
  padding-bottom: 2.5625rem;
  min-width: 0;
}
.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.title {
  margin-bottom: 3.1875rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.rounded-wrap {
  background-color: white;
  border-radius: 1.875rem;
  -webkit-box-shadow: 0px 0.625rem 3.75rem rgba(226, 236, 249, 0.5);
  box-shadow: 0px 0.625rem 3.75rem rgba(226, 236, 249, 0.5);
}

.customers {
  padding: 1.875rem 0 2.5rem;
}
.customers__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2.375rem;
  margin-bottom: 1.625rem;
}
.customers__titletext {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.customers__search {
  margin-right: 0.875rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 13.5rem;
  flex: 0 0 13.5rem;
}
.customers__title {
  margin-bottom: 0.4375rem;
}
.customers__status {
  font-size: 0.875rem;
  line-height: 1.5em;
  color: #16C098;
}
.customers__scroll-block {
  overflow: auto;
  width: 100%;
  padding: 0 2.375rem 0 2.375rem;
}
.customers__table {
  width: 100%;
  min-width: 750px;
}
.customers__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1.875rem;
  padding: 0 2.375rem;
}
.customers__info {
  font-size: 0.875rem;
  line-height: 1.5em;
  color: #B5B7C0;
  font-weight: 500;
  margin-right: 1rem;
}
.customers__pagination {
  margin-bottom: 0;
  margin-right: -0.375rem;
}

.search {
  position: relative;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.search img {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1.5rem;
}
.search input[type=text] {
  display: block;
  line-height: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  height: 2.375rem;
  padding: 0 0.5rem 0 2.5rem;
  font-size: 0.75rem;
  border-radius: 0.625rem;
  color: inherit;
  background-color: #F9FBFF;
  border: 0.0625rem solid #F9FBFF;
}
.search ::-webkit-input-placeholder {
  color: #B5B7C0;
  opacity: 1;
}
.search ::-moz-placeholder {
  color: #B5B7C0;
  opacity: 1;
}
.search :-moz-placeholder {
  color: #B5B7C0;
  opacity: 1;
}
.search :-ms-input-placeholder {
  opacity: 1;
  color: #B5B7C0;
}

.table {
  display: table;
  width: 100%;
  min-width: 51.25rem;
}
.table__tr {
  display: table-row;
}
.table__tr:first-child {
  position: relative;
}
.table__tr:first-child:after {
  content: "";
  position: absolute;
  left: -2.375rem;
  right: -2.375rem;
  bottom: 0;
  height: 0.0625rem;
  background-color: #eee;
}
.table__cell {
  display: table-cell;
}
.table__cell--th {
  padding: 0.875rem 0;
  padding-right: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.5em;
  color: #B5B7C0;
  font-weight: 500;
  text-align: left;
}
.table__cell--name {
  max-width: 9.4375rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table__cell--name:hover {
  overflow: visible;
}
.table__cell--name:hover span {
  background-color: white;
  position: relative;
  padding: 0.25rem;
  -webkit-box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.5);
  -webkit-transition: padding 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, padding 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, padding 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, padding 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.table__cell--company {
  width: 8.1875rem;
}
.table__cell--phone {
  width: 9.75rem;
}
.table__cell--email {
  max-width: 11.4375rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table__cell--email:hover {
  overflow: visible;
}
.table__cell--email:hover span {
  background-color: white;
  position: relative;
  padding: 0.25rem;
  -webkit-box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.5);
  -webkit-transition: padding 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, padding 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, padding 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, padding 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.table__cell--country {
  width: 8.75rem;
}
.table__cell--td {
  border-bottom: 0.0625rem solid #eee;
  color: #292D32;
  font-size: 0.875rem;
  line-height: 1.5em;
  font-weight: 500;
  vertical-align: middle;
  text-align: left;
  padding: 1.25rem 0;
  padding-bottom: 1.1875rem;
  padding-right: 0.375rem;
}
.table__cell--status {
  padding-right: 0.375rem;
  text-align: center;
  width: 5rem;
}

.label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 5rem;
  height: 1.8125rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid transparent;
  font-size: 0.875rem;
  line-height: 1.5em;
  font-weight: 500;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.label--active {
  color: #008767;
  border-color: #00B087;
  background-color: rgba(22, 192, 152, 0.38);
}
.label--inactive {
  color: #DF0404;
  border-color: #DF0404;
  background-color: #FFC5C5;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 0.75rem;
  line-height: 1em;
  font-weight: 500;
  color: #404B52;
}
.pagination__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1.625rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  background-color: #F5F5F5;
  border: 0.0625rem solid #eee;
  color: inherit;
  text-decoration: none;
  margin: 0 0.375rem;
}
.pagination__btn--dots {
  background: none;
  border: none;
  width: auto;
}
.pagination__btn--active {
  background-color: #5932EA;
  color: white;
}

@media screen and (max-width: 1400px) {
  :root {
    font-size: 13.7px;
  }

  .main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .left-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12rem;
    flex: 0 0 12rem;
    background-color: white;
    padding: 1.5rem 1rem 3.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .logo img {
    width: 9rem;
  }
  .logo span {
    margin-bottom: 0.3em;
  }

  .navigation__link {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }

  .navigation__icon {
    top: 0.4rem;
  }

  .navigation__arrow {
    top: 0.7rem;
  }
}
@media screen and (max-width: 1024px) {
  .main {
    padding: 1rem;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .title {
    margin-bottom: 1rem;
  }

  .customers {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .customers__header, .customers__footer, .customers__scroll-block {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .table__tr:first-child:after {
    left: -1rem;
    right: -1rem;
  }

  .left-side {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    z-index: 1000;
    width: 15rem;
    padding-top: 3rem;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .left-side--active {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  }

  .scroll-lock {
    overflow: hidden;
  }

  .burger {
    width: 1.5rem;
    display: block;
    margin-right: 1rem;
    margin-top: 0.3125rem;
  }
  .burger img {
    display: block;
    width: 100%;
  }

  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.5rem;
    display: block;
  }
  .close img {
    display: block;
    width: 100%;
  }

  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
@media screen and (max-width: 479.98px) {
  .rounded-wrap {
    border-radius: 1rem;
  }

  .customers__header, .customers__footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .customers__titletext, .customers__info {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .customers__search, .customers__pagination {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 1rem;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .customers__pagination {
    margin-left: -0.375rem;
  }
}
/*# sourceMappingURL=style.css.map */
